.form-section .container {
    background: #4F3C6A;
    padding: 30px 60px;
    z-index: 999;
    position: relative;
    bottom: -7px;
}

.form-section button.btn.btn-primary {
    background: #44BBCC;
    border: none;
    margin-left: 30px;
    margin-right: 10px;
    padding: 14px 30px;
}

.form-section form input.form-control {
    height: 59px;
}

.form-section .submit-container {
    display: flex;
    align-items: center;
}
