.banner-container img.banner-image {
    width: 100% ;
}

.banner-container h1.display-3.text-center.text-md-left {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3.4rem;
    line-height: 87px;
    display: flex;
    align-items: center;
    color: #000000;
    white-space: nowrap;
}

.banner-container .text-center a.btn.btn-primary {
    background: #44BBCC;
    border: none;
}
