.about-container {
    background: #EFF1F6;
}

.about-container .icon {
    height: 200px;
}

.about-container .card {
  padding: 60px 20px;
}

.about-container button.btn{
    width: 222px;
    height: 52px;
    background: #44BBCC;
    border-radius: 10px;
    color: #fff;
    margin: 0 auto;
}

.about-container .container-fluid {
    background: #4f3c6a;
}

.about-container .container-fluid h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 54px;
  text-align: center;
  color: #fff;
}
