.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  max-width: 1108px !important;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background: #eff1f7;
}

nav.main-nav.navbar.navbar-expand.navbar-light .mr-auto.navbar-nav a.nav-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #9e9aa8;
  margin-right: 18px;
}

nav.main-nav.navbar.navbar-expand.navbar-light a.nav-link:hover {
  color: #34313d !important;
}

nav.main-nav.navbar.navbar-expand.navbar-light
  .login-buttons
  button.btn.btn-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #9e9aa8;
  margin-right: 25px;
}

nav.main-nav.navbar.navbar-expand.navbar-light
  .login-buttons
  button.buttonSmall.btn.btn-primary.btn-sm {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

nav.main-nav.navbar.navbar-expand.navbar-light
  .login-buttons
  button.buttonSmall.btn.btn-primary.btn-sm:hover {
  background: #9ae3e3 !important;
}

.navbar-brand {
  margin-right: 2.5rem !important;
}

nav.main-nav.navbar.navbar-expand.navbar-light {
  padding-top: 40px;
}

.mobile-nav {
  display: none;
}

.modal .modal-dialog .modal-content {
  background: #3a3054;
  border-radius: 10px;
}

.modal .modal-dialog .modal-content .modal-body .memu-item {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
  padding: 15px;
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 20px;
}

.modal .modal-dialog .modal-content .modal-body button.btn.btn-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  width: 100%;
}

.modal
  .modal-dialog
  .modal-content
  .modal-body
  button.buttonSmall.btn.btn-primary.btn-sm {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
}

.modal .modal-dialog {
  margin-top: 110px;
}

.modal-backdrop.show {
  opacity: 0 !important;
}

/* Banner Section */

.banner-section h2.banner-header {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  color: #34313d;
}

.banner-section p.banner-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9e9aa8;
}

.banner-section {
  padding: 100px 0 155px 0;
}

.mobile-banner {
  display: none;
}

.banner-section
  .inner-container.container
  .col-md-5.col.order-md-2.order-1
  img.banner {
  margin-top: -50px;
}
.App .link-generation__section {
  background: #f2f2f2;
}
.App .link-generation__section .input-section.d-flex {
  max-width: 1110px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  align-items: center;
}

.App .link-generation__section .input-section.d-flex .input {
  width: 77%;
  margin-right: auto;
  margin-bottom: -15px;
}

.App .link-generation__section .form-group input#formBasicEmail {
  padding: 14px 32px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
}

.App
  .input-section.d-flex
  .form-group
  input#formBasicEmail::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #34313d;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.App .input-section.d-flex .form-group input#formBasicEmail {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #34313d;
  mix-blend-mode: normal;
  height: 100%;
}

.link-generation__section img.illustration-right {
  position: relative;
  top: -382px;
  right: -335px;
  width: 440px;
  border-radius: 10px;
}

.link-generation__section
  .buttonContainer
  button.largButton.btn.btn-primary.btn-lg {
  position: relative;
  z-index: 99;
}

.link-generation__section form.input-form input#formBasicEmail {
  position: relative;
  z-index: 999;
}
.link-generation__section .input-section.d-flex {
  position: relative;
  top: -121px;
}

.info-section h1.display-3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #34313D;
}

.info-section p.lead.px-xl-5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.122727px;
    color: #9E9AA8;
}

.card-img-top {
    flex-shrink: 0;
    width: unset !important;
}

.App .info-section {
    background: #f2f2f2;
    padding-bottom: 100px;
    padding-top: 51px;
}

@media only screen and (max-width: 760px) {
  .info-section .inner-section.container .d-flex.container {
    flex-flow: wrap;
    justify-content: center;
    margin-top: 12%;
}
}
.App .info-section .detail-box-card.first-option.card {
    margin-right: 30px;
}

.App .info-section .detail-box-card.second-option.card {
    margin-top: 40px;
    margin-right: 30px;
}

.App .info-section .detail-box-card.third-option.card {
    margin-top: 80px;
}

.App .info-section .hr-wide {
    height: 8px;
    background: #2BD0D0;
    position: absolute;
    width: 100%;
    max-width: 1047px;
    bottom: -370px;
    z-index: 0;
}


.App .info-section .detail-box-card {
    position: relative;
    z-index: 9;
}

.Bottom-CTA {
    
    padding-top: 50px;
    padding-bottom: 35px;
}

.Bottom-CTA h1.display-3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #FFFFFF;
    padding-bottom: 25px;
}

.footer {
    background: #111; 
    padding-top: 70px;
    padding-bottom:70px;
}

.footer h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    text-align: left;
}

.footer p {
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.234375px;
    color: #BFBFBF;
}

.Bottom-CTA .first-illustration {
     position: absolute;
    left: 0;
    margin-top: -49px;
}

.Bottom-CTA .second-illustration {
    position: absolute;
    margin-top: -212px;
    right: 0;
    z-index: 0;
}

.Bottom-CTA .third-illustration {
    position: absolute;
    margin-top: -180px;
    z-index: 0;
}

.Bottom-CTA .col-xl-8.col-lg-9.col-md-10.text-container {
    z-index: 2;
}
/* Form Error States */

/* Meida Queries */

/* Tablet */
@media only screen and (max-width: 990px) {
  .mobile-nav {
    display: block;
  }
  .mr-auto.navbar-nav {
    display: none;
  }
  .login-buttons {
    display: none;
  }
  .banner-section .col-md-7.col.text-left.order-md-1.order-2 {
    text-align: center !important;
  }
}

@media only screen and (max-width: 750px) {
  .banner-section
    .inner-container.container
    .col-md-5.col.order-md-2.order-1
    img.banner {
    margin-top: 0;
  }
  .banner-section .col-md-7.col.text-left.order-md-1.order-2 {
    text-align: center !important;
  }
  .banner-section
    .row
    .col-md-7.col.text-left.order-md-1.order-2
    h2.banner-header {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 500px) {
  .link-generation__section .buttonContainer button.largButton {
    background: #2bd0d0;
    border-radius: 28px;
    outline: none !important;
    box-shadow: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding: 14px 40px;
    color: #ffffff;
    border: none;
    width: 100%;
    margin-top: 15px;
}
  .buttonContainer {
    width: 100%;
}
  .App .link-generation__section .input-section.d-flex {
    flex-flow: column;
  }
  .App .link-generation__section .input-section.d-flex .input {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: -15px;
}
  .banner {
    display: none;
  }
  .mobile-banner {
    display: block !important;
    max-width: 393px;
  }
}

/* Mobile */
